body {
    margin: 0;
    line-height: normal;
  }
  
  :root {
    /* fonts */
    --font-poppins: Poppins;
    --font-sans-serif-collection: "Sans Serif Collection";
  
    /* font sizes */
    --font-size-xl: 20px;
  
    /* Colors */
    --color-white: #fff;
  }
  